In [112]:
#Charger la librairie pandas comme pd
import pandas as pd 
import numpy as np
#importer notre fichier usagers_2005.csv
data = pd.read_csv("usagers_2005.csv") 

#Afficher les cinq premier ligne de notre tableau
data.head()

,Num_Acc,place,catu,grav,sexe,trajet,secu,locp,actp,etatp,an_nais,num_veh
0,200500000001,1,1,4,1,1,11,0,0,0,1976.0,A01
1,200500000001,1,1,3,2,3,11,0,0,0,1968.0,B02
2,200500000001,2,2,1,1,0,11,0,0,0,1964.0,B02
3,200500000001,4,2,1,1,0,31,0,0,0,2004.0,B02
4,200500000001,5,2,1,1,0,11,0,0,0,1998.0,B02

In [113]:
print("Q15 : Y-a-t-il une différence dans la moyenne des âges pour chaque niveau de gravité ou au moins entre certains ? :")

Q15 : Y-a-t-il une différence dans la moyenne des âges pour chaque niveau de gravité ou au moins entre certains ? :

In [114]:
Tableau = data[['grav', 'an_nais']]
Tableau

        grav  an_nais
0          4   1976.0
1          3   1968.0
2          1   1964.0
3          1   2004.0
4          1   1998.0
...      ...      ...
197493     1   1972.0
197494     1   1965.0
197495     4   1990.0
197496     4   1951.0
197497     4   1946.0

[197498 rows x 2 columns]

In [115]:
Tableau.shape

(197498, 2)

In [116]:
persIndeme = Tableau.loc[Tableau['grav'] == 1]
persTue = Tableau.loc[Tableau['grav'] == 2]
persBlessHosp = Tableau.loc[Tableau['grav'] == 3]
persBlessLeg = Tableau.loc[Tableau['grav'] == 4]
persIndeme.head()

   grav  an_nais
2     1   1964.0
3     1   2004.0
4     1   1998.0
5     1   1991.0
6     1   1955.0

In [117]:
nbreIndeme = persIndeme.shape[0]
nbreTue = persTue.shape[0]
nbreBlessHosp = persBlessHosp.shape[0]
nbreBlessLeg = persBlessLeg.shape[0]

In [118]:
print("Nombre Indeme = ",nbreIndeme, "| Nombre Tué = ", nbreTue, "| Nombre blessé Hospitalisé = ", nbreBlessHosp, "| Nombre Blessé léger = ", nbreBlessLeg )

Nombre Indeme =  80272 | Nombre Tué =  5543 | Nombre blessé Hospitalisé =  40792 | Nombre Blessé léger =  70891

In [119]:
ageIndeme = 2005 - persIndeme['an_nais']
ageTue = 2005 - persTue['an_nais']
ageBlessHosp = 2005 - persBlessHosp['an_nais']
ageBlessLeg = 2005 - persBlessLeg['an_nais']

In [120]:
moyIndeme = ageIndeme.mean()
moyTue = ageTue.mean()
moyBlessHosp = ageBlessHosp.mean()
moyBlessLeg = ageBlessLeg.mean()

In [121]:
print("Moyen Indeme = ", round(moyIndeme,2), "| Moyen Tué = ", round(moyTue,2), "| Moyen Blessé Hospitalisé = ", round(moyBlessHosp,2), "| Moyen Blessé Léger = ", round(moyBlessLeg,2) )

Moyen Indeme =  38.31 | Moyen Tué =  41.3 | Moyen Blessé Hospitalisé =  35.64 | Moyen Blessé Léger =  33.85

In [122]:
age =  2005 - Tableau['an_nais']

In [123]:
print("Moyen age = ", round(age.mean(),2))

Moyen age =  36.24

In [124]:
varIndeme = ageIndeme.std()
varTue = ageTue.std()
varBlessHosp = ageBlessHosp.std()
varBlessLeg = ageBlessLeg.std()

In [125]:
print("Variance Indeme = ", round(varIndeme,2), "| Variance Tué = ", round(varTue,2), "| Variance Blessé Hospitalisé = ", round(varBlessHosp,2), "| Variance Blessé Léger = ", round(varBlessLeg,2) )

Variance Indeme =  16.43 | Variance Tué =  21.53 | Variance Blessé Hospitalisé =  19.53 | Variance Blessé Léger =  17.49

In [126]:
def calc(m1,m2,v1,v2,n1,n2):
    return (m1 - m2)/np.sqrt(v1/n1 + v2/n2)

In [127]:
t1Indeme = calc(moyIndeme, moyTue, varIndeme, varTue,nbreIndeme,nbreTue)
t2Indeme = calc(moyIndeme, moyBlessHosp, varIndeme, varBlessHosp,nbreIndeme,nbreBlessHosp)
t3Indeme = calc(moyIndeme, moyBlessLeg, varIndeme, varBlessLeg,nbreIndeme,nbreBlessLeg)
#round(t3,2)
t1Tue = calc(moyTue, moyBlessHosp, varTue, varBlessHosp,nbreTue,nbreBlessHosp)
t2Tue = calc(moyTue, moyBlessLeg, varTue, varBlessLeg,nbreTue,nbreBlessLeg)
round(t2Tue,2)
t1BlessHosp = calc(moyBlessHosp, moyBlessLeg, varBlessHosp, varBlessLeg,nbreBlessHosp,nbreBlessLeg)
round(t1BlessHosp,2)

66.45

In [128]:
print("Q16 : Y-a-t-il une différence dans l’état de gravité des blessures selon la catégorie des usagers ? La colonne “catu” précise cette catégorie d’usagers :")

Q16 : Y-a-t-il une différence dans l’état de gravité des blessures selon la catégorie des usagers ? La colonne “catu” précise cette catégorie d’usagers :

In [129]:
Tableau = data[['grav', 'catu']]
Tableau.head()

   grav  catu
0     4     1
1     3     1
2     1     2
3     1     2
4     1     2

In [193]:
persIndeme = Tableau.loc[Tableau['grav'] == 1]
persTue = Tableau.loc[Tableau['grav'] == 2]
persBlessHosp = Tableau.loc[Tableau['grav'] == 3]
persBlessLeg = Tableau.loc[Tableau['grav'] == 4]
persIndeme.head()

persCond = Tableau.loc[Tableau['catu'] == 1]
persPass = Tableau.loc[Tableau['catu'] == 2]
persPiet = Tableau.loc[Tableau['catu'] == 3]

#Nombre total de persone par categorie
ctot = []
npersCond = persCond.shape[0]
ctot.append(npersCond)
npersPass = persPass.shape[0]
ctot.append(npersPass)
npersPiet = persPiet.shape[0]
ctot.append(npersPiet)


#Nombre total de persone par gravite
#ltot = []
#npersIndeme = persIndeme.shape[0]
#ltot.append(npersIndeme)
#npersTue = persTue.shape[0]
#ltot.append(npersTue)
#npersBlessHosp = persBlessHosp.shape[0]
#ltot.append(npersBlessHosp)
#npersBlessLeg = persBlessLeg.shape[0]
#ltot.append(npersBlessLeg)

#Le total des persone
totalPers = Tableau.shape[0]
#ltot.append(totalPers)



tab = []
for i in range(0,4):
    tab.append([0,0,0,0,0])
    
tab[3] = ltot
for i in range(3):
    tab[i][4] = ctot[i]
tab
#ltot

[[0, 0, 0, 0, 146226],
 [0, 0, 0, 0, 36252],
 [0, 0, 0, 0, 14722],
 [80272, 5543, 40792, 70891, 197498]]

In [207]:
condIndeme = persIndeme.loc[persIndeme['catu'] == 1]
passIndeme = persIndeme.loc[persIndeme['catu'] == 2]
pietIndeme = persIndeme.loc[persIndeme['catu'] == 3]

#Nombre total de persone par gravite
ltot = []

#Nombre total de persone par gravite par categorie
ncondIndeme = condIndeme.shape[0]
tab[0][0] =  ncondIndeme
npassIndeme = passIndeme.shape[0]
tab[1][0] =  npassIndeme
npietIndeme = pietIndeme.shape[0]
tab[2][0] =  npietIndeme

tot = 0
for i in range(3):
    tot += tab[i][0]

ltot.append(tot)

#pietIndeme

condTue = persTue.loc[persTue['catu'] == 1]
passTue = persTue.loc[persTue['catu'] == 2]
pietTue = persTue.loc[persTue['catu'] == 3]

ncondTue = condTue.shape[0]
tab[0][1] =  ncondTue
npassTue = passTue.shape[0]
tab[1][1] =  npassTue
npietTue = pietTue.shape[0]
tab[2][1] =  npietTue

tot = 0
for i in range(3):
    tot += tab[i][1]

ltot.append(tot)
#pietTue.head()

condBlessHosp = persBlessHosp.loc[persBlessHosp['catu'] == 1]
passBlessHosp = persBlessHosp.loc[persBlessHosp['catu'] == 2]
pietBlessHosp = persBlessHosp.loc[persBlessHosp['catu'] == 3]

ncondBlessHosp = condBlessHosp.shape[0]
tab[0][2] =  ncondBlessHosp
npassBlessHosp = passBlessHosp.shape[0]
tab[1][2] =  npassBlessHosp
npietBlessHosp = pietBlessHosp.shape[0]
tab[2][2] =  npietBlessHosp

tot = 0
for i in range(3):
    tot += tab[i][2]

ltot.append(tot)

condBlessLeg = persBlessLeg.loc[persBlessLeg['catu'] == 1]
passBlessLeg = persBlessLeg.loc[persBlessLeg['catu'] == 2]
pietBlessLeg = persBlessLeg.loc[persBlessLeg['catu'] == 3]

ncondBlessLeg = condBlessLeg.shape[0]
tab[0][3] =  ncondBlessLeg
npassBlessLeg = passBlessLeg.shape[0]
tab[1][3] =  npassBlessLeg
npietBlessLeg = pietBlessLeg.shape[0]
tab[2][3] =  npietBlessLeg

tot = 0
for i in range(3):
    tot += tab[i][3]
        
ltot.append(tot)

#Calcule total des total
tot = 0
for i in range(4):
    tot += tab[3][i]
        
ltot.append(tot)


tab[3] = ltot
#npietBlessLeg
#pietBlessLeg.head()
tab

[[69196, 3829, 26904, 46297, 146226],
 [10807, 1031, 8016, 16398, 36252],
 [263, 676, 5753, 8030, 14722],
 [80266, 5536, 40673, 70725, 197200]]

In [209]:
def khi2(tab):
    x2 = 0
    for i in range(3):
        for j in range(4):
            eij = ((tab[i][4])*(tab[3][j]))/tab[3][4]
            x2 = x2 + (tab[i][j] - eij)**2/eij
    return x2

In [210]:
x2 = khi2(tab) 
x2

14154.32265044675